body {
    font-family: helvetica;
    font-weight: lighter;
}

h1 {
    font-size: 22px;
    font-weight: lighter;
}

h3 {
    font-size: 18px;
    font-weight: lighter;
}

h6 {
    font-size: 12px;
    font-weight: lighter;
    margin-top: -10px;
}

a {
    text-decoration: none;
    color: #000;
}

.text {
    margin: 200px;
}